main{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
}

.gridBox{
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: -1;
    margin-top: -1;
    background-color: #d6ffd9;
}
